<div class="modal-header">
    <h4 class="modal-title">Partieller Export</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <table class="table">
        <tbody>
            <tr>
                <td>Patientenvorlagen</td>
                <td>
                    <div class="form-switch">
                        <input
                            [(ngModel)]="configuration.patientCategories"
                            class="form-check-input"
                            type="checkbox"
                        />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Fahrzeugvorlagen</td>
                <td>
                    <div class="form-switch">
                        <input
                            [(ngModel)]="configuration.vehicleTemplates"
                            class="form-check-input"
                            type="checkbox"
                        />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Bildvorlagen</td>
                <td>
                    <div class="form-switch">
                        <input
                            [(ngModel)]="configuration.mapImageTemplates"
                            class="form-check-input"
                            type="checkbox"
                        />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button
        (click)="partialExport()"
        [disabled]="
            !(
                configuration.mapImageTemplates ||
                configuration.patientCategories ||
                configuration.vehicleTemplates
            )
        "
        class="btn btn-primary"
    >
        Exportieren
    </button>
</div>
